
<app>
    <div class="text-xs-center center-block">
        <i class="fa fa-spinner fa-spin fa-3x "> </i>
        <h5>Loading...</h5>
    </div>
</app>

@section scripts{
    <script>
        System.config({
            transpiler: 'typescript',
            typescriptOptions: { emitDecoratorMetadata: true },
            packages: {
                app: {
                     defaultExtension: "ts"
                }
            },
            paths: {
                
            }
        });
        System.import('app/boot')
              .then(null, console.error.bind(console));

       
    </script>


}