<nav class="navbar navbar-dark bg-primary">
    <h4 class="navbar-brand">Chassis </h4>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Chassis Content </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Chassis Triggers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Chassis Numbers</a>
        </li>
    </ul>
</nav>
<div>
    <h5>Chassis view</h5>
</div>
