
<div *ngIf="Instrument">
    <div class="card">
        <div class="card-header">
            Details for {{Instrument.Manufacturer}} {{Instrument.Model}}
        </div>
        <div class="card-block">
            {{Instrument.Model}}
        </div>

    </div>

</div>