<!DOCTYPE html>
<html>
<head>
    <!-- Set the base href -->
    @*<script>document.write('<base href="' + document.location + '" />');</script>*@
    <base href="/" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CrossDemo</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/sidebar-fixed.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sidebar-fixed.css" />
    </environment>
</head>
<body>

    @RenderBody()


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <!--Support IE-->
    <script src="~/lib/es6-shim/es6-shim.js"></script>
    <script src="~/lib/systemjs/dist/system-polyfills.js"></script>
    <!--Angular2-->
    <script src="~/lib/angular2/bundles/angular2-polyfills.js"></script>
    <script src="~/lib/systemjs/dist/system.js"></script>
    <script src="~/lib/typescript/lib/typescript.js"></script>
    <script src="~/lib/rxjs/bundles/Rx.js"></script>
    <script src="~/lib/angular2/bundles/angular2.dev.js"></script>
    <script src="~/lib/angular2/bundles/http.js"></script>
    <script src="~/lib/angular2/bundles/router.dev.js"></script>

    @RenderSection("scripts",required: false)
        
</body>
</html>
