<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CrossDemo</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

                    <ul class="nav">
                        <li>
                            <a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="fa fa-angle-double-right  fa-2x"></i></a>
                        </li>
                    </ul>

                    <ul class="nav hidden-xs" id="lg-menu">
                        <li class="active"><a asp-controller="Home" asp-action="Index"><i class="fa fa-server"></i> Instruments</a></li>
                        <li><a asp-controller="Home" asp-action="Pxi"><i class="fa fa-archive"></i> PXI/AXIe Chassis</a></li>
                        <li><a asp-controller="Home" asp-action="ManualConfiguration"><i class="fa fa-circle-o-notch"></i> Manual Configuration</a></li>
                    </ul>

                    <ul class="nav hidden-xs" id="sidebar-footer">
                        <li>
                            <a asp-controller="Home" asp-action="Settings"><i class="fa fa-wrench"></i> Settings</a>
                        </li>
                    </ul>

                    <!-- tiny only nav-->
                    <ul class="nav visible-xs" id="xs-menu">
                        <li><a asp-controller="Home" asp-action="Index" class="text-center"><i class="fa fa-server fa-2x"></i></a></li>
                        <li><a asp-controller="Home" asp-action="Pxi" class="text-center"><i class="fa fa-archive fa-2x"></i></a></li>
                        <li><a asp-controller="Home" asp-action="ManualConfiguration" class="text-center"><i class="fa fa-circle-o-notch fa-2x"></i></a></li>
                        <li><a asp-controller="Home" asp-action="Settings" class="text-center"><i class="fa fa-wrench fa-2x"></i></a></li>
                    </ul>

                </div>

                <!-- main right col -->
                <div class="column col-sm-10 col-xs-11" id="main">

                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <!--Support IE-->
    <script src="~/lib/es6-shim/es6-shim.js"></script>
    <script src="~/lib/systemjs/dist/system-polyfills.js"></script>
    <!--Angular2-->
    <script src="~/lib/angular2/bundles/angular2-polyfills.js"></script>
    <script src="~/lib/systemjs/dist/system.js"></script>
    <script src="~/lib/typescript/lib/typescript.js"></script>
    <script src="~/lib/rxjs/bundles/Rx.js"></script>
    <script src="~/lib/angular2/bundles/angular2.dev.js"></script>
    <script src="~/lib/angular2/bundles/http.js"></script>
    <script src="~/lib/angular2/bundles/router.dev.js"></script>

    @RenderSection("scripts",required: false)
</body>
</html>
